.home{
    border: 2px solid #999;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    transition: all .5s ease-in-out;
}

.home:hover{
    border: 2px solid #999;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    margin: auto;
    margin-top: 3%;
    /*transform: scale(1.02);*/
}

.title{
    text-align: center;
    padding-top: 15px;
}

.image{
    height: 450px;
}

.dropDownBox{
    border: 2px solid #999;
    background-color: rgba(255, 255, 255, 0.4);
    width: 200px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    transition: all .4s ease-in-out;
}

.dropDownBox:hover{
    background: linear-gradient(
            to left,
            rgb(109, 245, 255, .5),
            rgb(239, 118, 255, .5)
    );
    cursor: pointer;
    transform: scale(1.1);
}

.Blocktext{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.bodyText {
    color:rgb(0, 0, 0);
}

.distance {
    padding-top: 10px;
}

Article {
    color: black;
}